        <a-entity movement-controls="fly: true" position="0 1.6 0">
            <a-entity camera look-controls></a-entity>
            <a-entity cursor="rayOrigin:mouse"></a-entity>
            <a-entity laser-controls="hand: right"></a-entity>
        </a-entity>
